<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/allUser.css" />
  </head>
  <body>
    <nav>
      <a href="/userPage">Create User</a>
      <a href="/taskPage">Create Task</a>
      <a href="/allUser">All User</a>
      <a href="/showTable">All Task</a>
      <button id="export">Export to excel</button>
    </nav>
    <div id="main">
      <div id="table">
        <table id="tasktable" class="display" style="width: 100%">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Status</th>
              <th>User/th></th>
            </tr>
          </thead>
          <tbody>
            <% allTask.forEach((task) =>{ %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.type %></td>
              <td><%= task.userid.name %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/table2excel@1.0.4/dist/table2excel.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#tasktable").DataTable();
      });
      document.querySelector("#export").addEventListener("click", function () {
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelector("#tasktable"));
      });
    </script>
  </body>
</html>
