<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/userPage">Create User</a>
      <a href="/taskPage">Create Task</a>
      <a href="/allUser">All User</a>
      <a href="/showTable">All Task</a>
    </nav>
  </body>
</html>
